<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>SDS_task</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>

</head>

<body>
  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Writing Tool</span>
      </a>
     
      
    </div>
  </header>
  <hr>
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Ever dreamt of becoming a Writer ? Well Try out your skills here!
          <br class="hidden lg:inline-block">Welcome to collaborative writing tool!
        </h1>
        <p class="mb-8 leading-relaxed">This web tool makes user write anything and post it up on the web. Other users can view your work and make can changes in it! So take out the hidden Writer within and sprinkle some words here! </p>
        
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?study,Writing">
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Bring out that Hidden Writer within you! Write what suits you</h1>
        <p class="leading-relaxed mt-4">
          <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body text-center">
                
                <p>Create an account or login</p>
                <a href="/users/register" class="btn btn-primary btn-block mb-2"
                  >Register</a
                >
                <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
              </div>
            </div>
          </div>
        </p>
      </div>
      
    </div>
  </section>
  